body 
{
    padding: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
    /*background-color: #eee;*/
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a 
{
    color: #00b7ff;
}

h4
{
    padding-top: 10px;
}

.form-account 
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-account .form-account-heading,
.form-account .checkbox 
{
    margin-bottom: 10px;
}

.form-account .checkbox 
{
    font-weight: normal;
}

.form-account .form-control 
{
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

.form-account .form-control:focus 
{
    z-index: 2;
}

/* Tagline and npm-install (responsive-ish) */

h2.tagline {
    clear: both;
    margin-top: 0px;
    margin-bottom: 40px;
    text-align: center;
}

pre.npm-install {
    width: 80%; 
    margin-left: auto; 
    margin-right: auto; 
    font-weight: bold; 
    font-size: 20px;
}

@media(max-width: 480px) {
  h2.tagline {
    font-size: 16pt;
  }

  pre.npm-install {
      width: 100%;
  }
}

/* "Node.js + Synchro = Native Mobile Apps" table(s) (responsive-ish) */

table.equation {
    margin-left: auto;
    margin-right: auto;
}

table.equation.linear {
   display: table;
    margin-bottom: 20px;
}

table.equation.stacked {
    display: none;
    margin-bottom: 30px;
}

@media(max-width: 768px) {
  table.equation.stacked {
      display: table;
  }

  table.equation.linear {
      display: none;
  }
}

.equation td {
    text-align: center;
}

.equation img {
    max-height: 165px;
    display: inline;
}

.equation p.operator {
    margin: 20px;
    font-size: 72px;
    line-height: normal;
}

.equation .caption td {
    vertical-align: top;
}

.equation p.caption {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 0px;
}
