<div class="container">
    {{> flash}}
    <h2>About Us</h2>
    <p>The Synchro founders have started several successful companies, and have created enterprise products that currently serve millions of users every day.</p>
    <div class="row">
        <div class="col-md-6">
            <h3>
                Bob Dickinson
                <a href="http://www.linkedin.com/in/bobdickinson">
                    <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_profile_bluetxt_80x15.png" width="80" height="15" border="0" alt="View Bob Dickinson's profile on LinkedIn">
                </a>
            </h3>
            <p>
                <img src="/images/bob.png" />
            </p>
            <p>
                <a id="bob_mailto" href=""><span id="bob_email" /></a>
            </p>
        </div>
        <div class="col-md-6">
            <h3>
                Blake Ramsdell
                <a href="http://www.linkedin.com/in/blakeramsdell">
                    <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_profile_bluetxt_80x15.png" width="80" height="15" border="0" alt="View Blake Ramsdell's profile on LinkedIn">
                </a>
            </h3>
            <p>
                <img src="/images/blake.png" />
            </p>
            <p>
                <a id="blake_mailto" href=""><span id="blake_email" /></a>
            </p>
        </div>
    </div>

</div>

<script>
    var at = "@";
    var domain = "synchro";
    var dot = ".";
    var tld = "io"
    document.getElementById("bob_email").innerHTML = "bob" + at + domain + dot + tld;
    document.getElementById("bob_mailto").href = "mailto:" + "bob" + at + domain + dot + tld;
    document.getElementById("blake_email").innerHTML = "blake" + at + domain + dot + tld;
    document.getElementById("blake_mailto").href = "mailto:" + "blake" + at + domain + dot + tld;
</script>