<div class="container">
    {{> flash}}
    <h2>Synchro Explorer Mobile App Support</h2>
    <p>
        If you have any questions or issues regarding usage of Synchro Explorer, please contact us via 
        email at <a href="mailto:support@synchro.io">support@synchro.io</a>.
    </p>
</div>