{{#content "pageStyles" }}
<style type="text/css">
    body { padding-top: 0px; }
</style>
{{/content}}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        {{> flash}}

        <h1>Synchro&trade;</h1>
        <img class="aligncenter" src="/images/cloud_system_256.png" align="right" />
        <h2>The Mobile Application as a Service Platform</h2>
        <p>
            Synchro is a revolutionary new platform that allows you to create high quality, high performance,
            cross-platform native mobile applications using simple and familiar tools - JavaScript and the Node.js framework.
            The best part: your mobile application, including all client logic, actually runs in the cloud!  Your application
            runs on mobile devices without any of your application code running on the mobile device.  Did we just blow your mind?
        </p>
        <p>
            <a href="/getstarted" class="btn btn-primary btn-lg" role="button" data-toggle="modal">Get Started &raquo;</a>
        </p>
        <div style="margin-top:30px;">
            <iframe id="facebook" src="https://www.facebook.com/plugins/like.php?app_id=201995916528656&amp;href=http%3A%2F%2Fwww.facebook.com%2Fsynchrolabs&amp;send=false&amp;layout=button_count&amp;width=200&amp;show_faces=true&amp;action=like&amp;colorscheme=dark&amp;font=trebuchet+ms&amp;height=21" scrolling="no" frameborder="0" style="visibility:hidden; border:none; overflow:hidden; width:100px; height:21px;" onload="this.style.visibility = 'visible';" allowtransparency="true"></iframe>
            <a href="https://twitter.com/SynchroLabs" class="twitter-follow-button" data-show-count="true" data-show-screen-name="false" style="visibility: hidden;">Follow @SynchroLabs</a>
            <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
        </div>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Apps Run in the Cloud</h2>
            <p>
                Your mobile apps are created, managed, and hosted in the cloud, meaning that you can make changes, test, and
                deploy updates to your installed base instantly.  No more distribution hassles or configuration control nightmares.
            </p>
            <p>
                You can run Synchro anywhere you can stand up a Node.js server, including on-premise or the cloud provider of your choice.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Better Apps, Faster</h2>
            <p>
                The Synchro client-server platform puts your client logic on the server, resulting in streamlined integration with server
                resources, and clients that are provably secure, in a fraction of the amount of code required by competing platforms.
            </p>
            <p>
                Imagine writing a cross-platform native mobile client-server application in half the amount of code that it would take
                to implement the same functionality as a web app.  No, we're not kidding.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Native Apps on Every OS</h2>
            <p>
                Write your app once on the server, then deploy it as a branded, high quality native app with native look-and-feel and native performance
                on iOS, Android, Windows, and Windows Phone.
            </p>
            <p>
                We give you the tools to customize your app based on the OS, device type, screen size, orientation, etc., but in most cases your
                apps will look and run great out of the box with no customization.
            </p>
        </div>
    </div>

</div>
<!-- /container -->
