{{#content "pageStyles" }}
<style type="text/css">
    body { padding-top: 0px; margin-top: 0px; }
</style>
<link href="/stylesheets/carousel.css" rel="stylesheet"/>
{{/content}}

<div class="jumbotron">

    <div class="container">

        {{> flash}}

        <img class="center-block" alt="Synchro&trade;" src="/images/synchro.png" />

        <h2 style="clear:both; padding-top:5px;padding-bottom:5px;text-align:center;">The Cloud-Based Mobile App Platform</h2>

        <p style="text-align:center; padding-bottom: 10px;">
            Synchro is a revolutionary new platform that allows enterprise developers to create high quality, high performance,
            cross-platform native mobile applications using simple and familiar tools - JavaScript and the Node.js framework.
            You can use Synchro to create apps that install and run on mobile devices, but where all of your application code,
            including client interaction logic, runs in the cloud.
        </p>

        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="responsive-video ">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/mgCCBNz6MEo?rel=0"></iframe>
                    </div>
                </div>
            </div>
        </div>

        <p class="text-center" style="padding-top:25px;">
            <a href="/getstarted" class="btn btn-primary btn-lg" role="button" data-toggle="modal">Get Started &raquo;</a>
        </p>


    </div>

    <div style="text-align:center; padding: 10px; margin-top: 10px; margin-bottom: 0; background-color: darkgray; color: white">
        <h2>New Mobile and Desktop Web Client Support!</h2>
        <p>In addition to native apps, Synchro now provides mobile and desktop web apps automatically - no additional code or customization required. A true write-once, run-everywhere solution.</p>
    </div>

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-bottom: 0">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="first-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Native Phone">
                <div class="container">
                    <div class="carousel-caption">
                        <img class="center-block" alt="Synchro&trade;" src="/images/CivicsMobileNative.png" style="display: block; max-height: 350px; max-width: 100%; height: auto; width: auto" />
                        <p style="text-align:center; padding-bottom: 10px;">
                            Native Apps for Phone - iOS, Android, Windows Phone
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="second-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Native Tablet">
                <div class="container">
                    <div class="carousel-caption">
                        <img class="center-block" alt="Synchro&trade;" src="/images/CivicsSurfacePro.png" style="display: block; max-height: 350px; max-width: 100%; height: auto; width: auto" />
                        <p style="text-align:center; padding-bottom: 10px;">
                            Native Apps for Tablet - iOS, Android, Windows
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="third-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Mobile Web">
                <div class="container">
                    <div class="carousel-caption">
                        <img class="center-block" alt="Synchro&trade;" src="/images/CivicsMobileWeb.png" style="display: block; max-height: 350px; max-width: 100%; height: auto; width: auto" />
                        <p style="text-align:center; padding-bottom: 10px;">
                            Web Apps Optimized for Mobile
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="fourth-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Desktop Web">
                <div class="container">
                    <div class="carousel-caption">
                        <img class="center-block" alt="Synchro&trade;" src="/images/CivicsChrome.png" style="display: block; max-height: 350px; max-width: 100%; height: auto; width: auto" />
                        <p style="text-align:center; padding-bottom: 10px;">
                            Web Apps For Desktop
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div><!-- /.carousel -->


</div>


<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="/icons/build.png"/>
            <h3>Build Better Apps, Faster</h3>
            <p>
                The Synchro client-server platform puts your client logic on the server, resulting in streamlined integration with server
                resources, and apps created in a fraction of the amount of code required by competing platforms.
            </p>
            <br/>
        </div>
        <div class="col-md-4">
            <img src="/icons/native.png"/>
            <h3>Native Apps on Every OS</h3>
            <p>
                Write your app once on the server, then deploy it as a branded, high quality native app with native look-and-feel and native performance
                on iOS, Android, Windows, and Windows Phone.
            </p>
            <br />
        </div>
        <div class="col-md-4">
            <img src="/icons/deploy.png" />
            <h3>Deploy Updates Instantly</h3>
            <p>
                Your mobile apps are created, managed, and hosted in the cloud, meaning that you can make changes, test, and
                deploy updates to your installed base instantly.  No more distribution hassles or configuration control nightmares.
            </p>
            <br />
        </div>    
    </div>

    <div class="row">
        <div class="col-md-4">
            <img src="/icons/security.png" />
            <h3>Provable Security</h3>
            <p>
                The mobile client apps that you create with Synchro connect to your cloud-based app using a secure connection.  They don't connect
                to anything else or store anything on the device, so you know they're secure.
            </p>
            <br />
        </div>
        <div class="col-md-4">
            <img src="/icons/node.png" />
            <h3>Built with Node.js</h3>
            <p>
                Synchro is built on Node.js, and the Synchro apps that you create will run in a Node environment.  You'll be writing in JavaScript,
                with access to all the great Node packages you use in your server apps.
            </p>
            <br />
        </div>
        <div class="col-md-4">
            <img src="/icons/mvvm.png" />
            <h3>Client-Server MVVM</h3>
            <p>
                If you've used MVVM frameworks like AngularJS or Knockout.js, you'll be right at home.  With Synchro, your View is defined 
                in the cloud, runs on the client, and is bound to your ViewModel back in the cloud.
            </p>
            <br />
        </div>
    </div>
</div>

<h3 class="text-center bg-primary" style="padding-top:10px;padding-bottom:10px;">Build First-Class Mobile Apps.  Run them from the Cloud.</h3>

<hr/>
<div class="row">
    <div style="text-align: center;">
        <iframe id="facebook" src="https://www.facebook.com/plugins/like.php?app_id=201995916528656&amp;href=http%3A%2F%2Fwww.facebook.com%2Fsynchrolabs&amp;send=false&amp;layout=button_count&amp;width=200&amp;show_faces=true&amp;action=like&amp;colorscheme=dark&amp;font=trebuchet+ms&amp;height=21" scrolling="no" frameborder="0" style="visibility:hidden; border:none; overflow:hidden; width:100px; height:21px;" onload="this.style.visibility = 'visible';" allowtransparency="true"></iframe>
        <a href="https://twitter.com/SynchroLabs" class="twitter-follow-button" data-show-count="true" data-show-screen-name="false" style="visibility: hidden;">Follow @SynchroLabs</a>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
    </div>
</div>