<div class="container">

    <br/>
    <br />
    <p style="text-align:center;"><img class="aligncenter" alt="Synchro&trade;" src="/images/synchro.png" /></p>
    <br/>
    <br/>
    <h2 style="text-align:center;">SYNCHRO’S NEW PLATFORM ALLOWS DEVELOPERS TO CREATE <nobr>FIRST-CLASS</nobr> MOBILE APPS THAT RUN IN THE CLOUD</h2>

    <h3 style="text-align:center;"><i>First of its kind solution leverages Node.js to build and host enterprise mobile apps in the cloud</i></h3>
    <br/>
    <br/>
    <p class="lead">
        <strong>REDMOND, Wash. &mdash; December 7, 2015</strong>— Synchro Labs, Inc. (<a href="http://www.synchro.io">http://www.Synchro.io</a>) today announced the launch
        of its Synchro platform, a revolutionary new tool that allows enterprise developers to create high quality, high performance, cross-platform native mobile 
        applications using simple and familiar tools - JavaScript and the Node.js framework. The company is showcasing its new technology at the 
        <a href="http://events.linuxfoundation.org/events/node-interactive">Node.js Interactive Conference</a> on December 8th and 9th in Portland, OR.
    </p>
    <p class="lead">
        Synchro helps solve a problem facing many enterprises: the need for a fast and simple solution to convert their backlog of Intranet apps to mobile. Enterprises
        can use Synchro to create apps that install and run on mobile devices, but where all off the application code, including client interaction logic, actually 
        runs in the cloud.
    </p>
    <p class="lead">
        The Synchro platform provides numerous benefits for developers, including:
        <ul>
            <li class="lead"><strong>Better Apps, Faster</strong> - The Synchro client-server platform puts client logic on the server, resulting in streamlined integration with server resources, and clients that are provably secure, in a fraction of the amount of code required by competing solutions.</li>
            <li class="lead"><strong>Native Apps on Every OS</strong> – Developers can write their app once on the server, then deploy it as a branded, high quality native app with native look-and-feel and native performance on iOS, Android, Windows, and Windows Phone.</li>
            <li class="lead"><strong>Instant Updates</strong> - Mobile apps are created, managed, and hosted in the cloud, meaning that they can be modified, tested, and redeployed to their installed base instantly.</li>
        </ul>
    </p>
    <p class="lead">
        &quot;Enterprise developers know that writing good cross-platform mobile apps to talk to the cloud can be a huge undertaking,&quot; said Bob Dickinson, Synchro 
        Co-Founder. &quot;We make it incredibly easy to build great mobile apps in the cloud, and to integrate them with cloud services.  And because the mobile client
        app is running in the cloud, it can even be updated and redeployed in real time.&quot;
    </p>
    <br/>
    <h3><strong>Pricing and Availability</strong></h3>
    <p class="lead">
        The Synchro platform is available for download from the Synchro web site now.  Developers may use Synchro free of charge for development and testing purposes. 
        Applications deployed to end-users require a monthly subscription, with fees based on application scale.
    </p>
    <p class="lead">
        To view a demo of how Synchro works, or to download and get started, visit <a href="http://www.synchro.io">www.Synchro.io</a>.
    </p>

    <p style="text-align:center;">###</p>

    <h3><strong>About Synchro</strong></h3>
    <p class="lead">
        Based in Redmond, Wash., Synchro Labs, Inc. (<a href="http://www.Synchro.io">www.Synchro.io</a>) enables developers to create feature-rich, robust, and secure cross-platform mobile apps that
        look and feel native on mobile devices, but actually run in the cloud. The company was launched in 2015 by co-founders, Bob Dickinson and Blake Ramsdell.
    </p>
    <br/>
    <h3><strong>Media Contacts:</strong></h3>
    <p class="lead">
        David Kaufer<br/>
        <a id="dk_mailto" href=""><span id="dk_email" /></a><br/>
        206.455.2929
    </p>
</div>

<script>
    var at = "@";
    var domain = "kauferdmc";
    var dot = ".";
    var tld = "com"
    document.getElementById("dk_email").innerHTML = "david" + at + domain + dot + tld;
    document.getElementById("dk_mailto").href = "mailto:" + "david" + at + domain + dot + tld;
</script>