{{#content "pageStyles" }}
  {{> formstyles}}
{{/content}}

<div class="container">
    {{> flash}}
    <form class="form-account" role="form" action="/login" method="post">
        <h2 class="form-account-heading">Please sign in</h2>
        <label for="email">Email Address</label>
        <input type="email" class="form-control" name="username" value="{{post.username}}" required autofocus>
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" value="{{post.password}}" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <br/>
        <a href="/signup">I need to create an account</a>
        <br/>
        <a href="/forgot">I forgot my password</a>
    </form>
</div> <!-- /container -->