{{#content "pageStyles" }}
    {{> formstyles}}
{{/content}}

<div class="container">
    <h2>Pricing</h2>
    <p>
        Synchro is free to use for development purposes.
    </p>
    <p>
        When an application is deployed to end users, a monthy fee will be required per application deployed.  When you come to Synchro.io
        to create the custom branded native mobile applications that you will be distributing to your end users, you will select a subscription 
        plan for the application and set up payment at that time.
    </p>
    <p>
        <strong>Workgroup - $99/month</strong>
    </p>
    <p>
        Less than 100 users on a single server instance. Typical use: Small to medium business, or a workgroup within a larger enterprise.
    </p>
    <p>
        <strong>Enterprise - $499/month</strong>
    </p>
    <p>
        Less than 1,000 users on up to 2 server instances.  Typical use: Larger user bases or more sophisticated server deployments (such as load distribution or server failover).</p>
    <p>
        <strong>Enterprise Unlimited - $999/month</strong>
    </p>
    <p>
        Unlimited users on unlimited server instances.  Typical use: Very large users bases, heavy load, or very sophisticated server deployments.
    </p>
    <h3>Hosting</h3>
    <p>
        You will be responsible for hosting the Synchro server to support your application, either on-premise or using the cloud provider of
        your choice, including any costs associated with such hosting.
    </p>
    <h3>Support</h3>
    <p>
        Free email support is provided to all Synchro developers, but support requests are prioritized based on subscription level.
    </p>
</div>