{{#content "pageStyles" }}
<style type="text/css">
    body {
        padding-top: 0px;
    }
</style>
{{/content}}

<div class="jumbotron">

    <div class="container">
        {{> flash}}

        <h2 style="margin:0px;">Pricing - Per Application</h2>

        <div class="pricing-tables">

            <div class="row">
                <div class="col-sm-3 col-md-3">
                    <div class="plan">
                        <div class="head">
                            <h3>Open Source</h3>
                        </div>
                        <ul class="item-list">
                            <li><strong>Unlimited</strong> Web Users</li>
                            <li><strong>Synchro Explorer</strong> Client</li>
                            <li><strong>Community</strong> Support</li>
                        </ul>
                        <div class="price">
                            <h3>Free</h3>
                            <h4>&nbsp;</h4>
                        </div>
                        <a href="/getstarted" class="btn btn-primary" role="button" data-toggle="modal" style="padding-left:10px; padding-right: 10px;">Get Started</a>
                    </div>
                </div>

                <div class="col-sm-3 col-md-3 ">
                    <div class="plan">
                        <div class="head">
                            <h3>Workgroup</h3>
                        </div>
                        <ul class="item-list">
                            <li><strong>100</strong> Users</li>
                            <li><strong>Custom</strong> Mobile Client</li>
                            <li><strong>Professional</strong> Support</li>
                        </ul>
                        <div class="price">
                            <h3><span class="symbol">$</span>99</h3>
                            <h4>per month</h4>
                        </div>
                        <a href="/subscribe" class="btn btn-success" role="button" data-toggle="modal">Sign Up</a>
                    </div>
                </div>


                <div class="col-sm-3 col-md-3 ">
                    <div class="plan">
                        <div class="head">
                            <h3>Enterprise</h3>
                        </div>
                        <ul class="item-list">
                            <li><strong>1,000</strong> Users</li>
                            <li><strong>Custom</strong> Mobile Client</li>
                            <li><strong>Professional</strong> Support+</li>
                        </ul>
                        <div class="price">
                            <h3><span class="symbol">$</span>499</h3>
                            <h4>per month</h4>
                        </div>
                        <a href="/subscribe" class="btn btn-success" role="button" data-toggle="modal">Sign Up</a>
                    </div>
                </div>

                <div class="col-sm-3 col-md-3 ">
                    <div class="plan">
                        <div class="head">
                            <h3>Unlimited</h3>
                        </div>
                        <ul class="item-list">
                            <li><strong>Unlimited</strong> Users</li>
                            <li><strong>Custom</strong> Mobile Client</li>
                            <li><strong>Professional</strong> Support+</li>
                        </ul>
                        <div class="price">
                            <h3><span class="symbol">$</span>999</h3>
                            <h4>per month</h4>
                        </div>
                        <a href="/subscribe" class="btn btn-success" role="button" data-toggle="modal">Sign Up</a>
                    </div>
                </div>

            </div> <!-- row-->

        </div> <!-- pricing-tables -->

    </div>

</div>

<div class="container">
    <h3>Subscription Levels</h3>
    <p>
        Synchro Server is open source and may be used freely.  Synchro Server includes the Synchro Web Client, which may be used to 
        provided mobile web access to deployed apps, and may be integrated into existing mobile web solutions, all under the open
        source license.
    </p>
    <p>  
        In order to create custom branded native mobile apps for distribution to your end users, you will select a subscription plan
        for the application and set up payment at that time.  This will allow you access to the Synchro App Builder to create your 
        native apps.
    </p>
    <p>
        <strong>Open Source</strong>
    </p>
    <p>
        Deploy Synchro Server, develop and deploy Synchro applications, and access those applications via the Synchro Web client or
        the generic Synchro Explorer native mobile client (on the platform of your choice).
    </p>
    <p>
        <strong>Workgroup</strong>
    </p>
    <p>
        Less than 100 users. Custom branded native mobile clients on all platforms.  Professional support.
    </p>
    <p>
        <strong>Enterprise</strong>
    </p>
    <p>
        Less than 1,000 users.  Custom branded native mobile clients on all platforms.  Professional support plus 4 hours of consulting services.
    </p>
    <p>
        <strong>Unlimited</strong>
    </p>
    <p>
        Unlimited users.  Custom branded native mobile clients on all platforms.  Professional support with SLA plus one day of consulting services.</p>
    <h3>Hosting</h3>
    <p>
        You will be responsible for hosting the Synchro server to support your application, either on-premise or using the cloud provider of
        your choice, including any costs associated with such hosting.
    </p>
    <h3>Support</h3>
    <p>
        Community-based support is available for the open source elements of Synchro, and the Synchro team attempts to ensure that issues
        do not go unanswered.  All commercial licenses include professional support by the core Synchro development team.
    </p>
</div>
