{{#content "pageStyles" }}
  {{> formstyles}}
{{/content}}

<div class="container">
    {{> flash}}
    <h2>Account created</h2>
    <p>Your accout has been created!  You will be receiving an email shortly that will allow you to verify the email address you provided.</p>
    <p>If you don't recieve the email within a few minutes, and you think that having us send it again might help, please click on your email
     address at the top of the page and select the <b>Resend Verification</b> option.</p>
</div>