{{#content "pageStyles" }}
  {{> formstyles}}
{{/content}}

<div class="container">
    {{> flash}}
    <form class="form-account" role="form" action="/forgot" method="post">
        <h2 class="form-account-heading">Forgot Password</h2>
        <label for="email">Email Address</label>
        <input type="email" class="form-control" name="email" required autofocus>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Request Password Reset</button>
    </form>
</div> <!-- /container -->